.bcl-datagrid > div.row {
    margin-bottom: -1px;   
}
.bcl-datagrid div.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.bcl-datagrid .bcl-datagrid-th,
.bcl-datagrid .bcl-datagrid-head {
    font-weight: bold;
}
.bcl-datagrid .bcl-datagrid-head {
    font-size: 1.2em;
    margin-left: -28px;
    margin-bottom: 5px !important;
}
.bcl-datagrid-thead {
    border: 1px solid #ddd;   
}
.bcl-datagrid-thead > .bcl-datagrid-th {
    padding: 5px;
    border-left: 1px solid #ddd;
    background-color: #fdfdfd;
}
.bcl-datagrid-thead > .bcl-datagrid-th:first-child {
    border-left: 1px solid transparent;
}
.bcl-datagrid-body .row:first-child {
    border-top: 1px solid #ddd;
}
.bcl-datagrid-body .row:hover {
    background-color: #f8f8f8 !important;
}
.bcl-datagrid-body .row {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.bcl-datagrid-body .cmd-row {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
} 

.bcl-datagrid-body div.row:hover .cmd-row
{
    display: block;    
}
.bcl-datagrid-body .cmd-row:hover a
{
    color: red !important;
}