/**
 * Listview
 */
.sortable-dragging {
    border: 1px solid red !important;
    opacity: 0.9;
}

.sortable-placeholder {
    border: 1px dashed #CCC;    
    min-height: 50px;
}

.osy-listsortable {
    padding: 0px 20px;
    display: table;
    width: 100%;
}
.ocl-listsortable-head {
    margin-bottom: 12px;
    margin-left: -14px;
}
.osy-listsortable div.row {
    display: table-row;
}
.osy-listsortable div.cell {
    display: table-cell;
}
.osy-listsortable div.osy-listsortable-body-cont {
    column-span: all; 
    /* W3C */ -webkit-column-span: 5; 
    /* Safari & Chrome */ -moz-column-span: all; 
    /* Firefox */ -ms-column-span: all; 
    /* Internet Explorer */-o-column-span: all; /* Opera */
}
.osy-listsortable ul{
    padding: 0px; list-style-type: none;
}
.osy-listsortable li {
    margin-bottom: 12px;
}
.osy-listsortable > li.head, 
.osy-listsortable > li.foot{
    text-align: right
}
.osy-listsortable  li.row {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    border-bottom-width: 2px;
    background-color: #ebebeb;
    background-image: url(sortable.png); 
    background-repeat: no-repeat; 
    background-position: 7px 50%;
}
.osy-listsortable  li.row > div.ord {
    background-color: transparent;
    margin: 0px;
    border: 0px; 
    padding: 10px;
}
.osy-listsortable  li.row > div.cnt {
    background-color: #fafafa; 
    padding: 15px 10px; 
    margin-left: 30px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    overflow: hidden;
}
.osy-listsortable  li.row > div.cnt > div {
    float: left;
    font-size: 13px;
    border-left: 1px solid #d5d5d5;
    padding-left: 20px;
    overflow: hidden;
}
.osy-listsortable  li.row > div.cnt > div:first-child {
    border-left-width: 0px;
}
.osy-listsortable  li.row > div.cnt > div.cmd {
    visibility : hidden;
    border-left-width: 0px;
    cursor: pointer; float: right;
}
.osy-listsortable  li.row:hover > div.cnt > div.cmd {
    visibility : visible;
}
.osy-listsortable  ul.osy-listsortable-leaf {
    background-color: white;
    margin-left: 30px;
    border-top: 1px solid #ccc;
    padding: 10px 50px;
}

