/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2018, 17.17.31
    Author     : Peter
*/

.card {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.card .card-header {
    position: relative;
    border-bottom: 1px solid #eee;
}

@media screen and (min-width: 768px) {
    .card .card-header:not(.ch-alt) {
        padding: 23px 25px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-header:not(.ch-alt) {
        padding: 18px;
    }
}
.card .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 15px;
    font-weight: 500;
}
.card .card-header h2 small {
    display: block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%;
}
@media screen and (min-width: 768px) {
    .card .card-header.ch-alt {
        /* padding: 23px 26px;*/
        /*padding: 13px 16px;*/
        padding:8px 12px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-header.ch-alt {
        /*padding: 18px 18px 28px;*/
        /*padding: 13px 16px;*/
        padding:8px 12px;
    }
}
.card .card-header.ch-alt:not([class*="bgm-"]) {
    background-color: #f7f7f7;
}
.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
    color: #fff;
}
.card .card-header .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 15px;
}
.card .card-header .btn-float {
    right: 25px;
    bottom: -23px;
    z-index: 1;
}
.card .card-body {
    padding: 5px 10px;
}
@media screen and (min-width: 768px) {
    .card .card-body.card-padding {
        padding: 23px 26px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-body.card-padding {
        padding: 18px;
    }
}
.card .card-body.card-padding-sm {
    padding: 15px;
}
.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
    padding-top: 0;
}