/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-gen-2018, 9.37.57
    Author     : Peter
*/

/*OSY ADDRESSBOOK*/
div.osy-addressbook div.osy-addressbook-empty {
    text-align: center;
    margin-top: 75px;
}

div.osy-addressbook div.osy-addressbook-empty span {
    padding: 20px 50px;
    background-color: #eee;
    border: 1px solid silver;
    border-radius: 5px;
}

div.osy-addressbook div.osy-addressbook-head {
    padding: 0px;
    border-bottom: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.osy-addressbook div.osy-addressbook-head h3 {
    float: left
}

div.osy-addressbook div.osy-addressbook-head h1 {
    text-align: center;
}

div.addressbook div.addressbook-head h1 {
    text-align: center;
    font-weight: normal;
}

div.osy-addressbook div.osy-addressbook-head div.add {
    float: right;
    padding: 5px;
    margin: 7px 30px 0px 0px;
}

div.osy-addressbook div.osy-addressbook-body {
    overflow: auto; cursor: default;
}

div.osy-addressbook .osy-addressbook-item {
    position: relative;
    display: block;
    height: 130px;
    font-size: 12px;
    margin: auto;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #555;
}

div.osy-addressbook .osy-addressbook-item:hover {
    color: #337ab7;
    border-color : #337ab7;
    cursor: default;
}

div.osy-addressbook .osy-addressbook-item:hover div.p2 {
    border-color: #337ab7; 
}

div.osy-addressbook .osy-addressbook-item-selected div.p2 {
    border-color: black !important; 
}

div.osy-addressbook .osy-addressbook-item a.osy-addressbook-link {
    display: none; 
    position: absolute;
    padding: 3px 5px;
    background-color: white;
    bottom: 5px;
    right: 7px;
    border-radius: 3px;
    text-decoration: none;    
}

div.osy-addressbook .osy-addressbook-item:hover a.osy-addressbook-link {
    display: block;
}

div.osy-addressbook div.p0 .osy-addressbook-img {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 12px;
    left: 7px;
    border-radius: 3px;
}

div.osy-addressbook .osy-addressbook-item div.p1 {
    height:79px
}
div.osy-addressbook .osy-addressbook-item {
    color: #888;
    margin-bottom: 25px;
}
div.osy-addressbook .osy-addressbook-item div.p1 {
    padding-left: 45px;
    padding-top: 10px;
}
div.osy-addressbook .osy-addressbook-item div.p1 strong {
    font-size: 12px;
    padding: 10px 0px;
}
div.osy-addressbook .osy-addressbook-item div.p2 {
    border-top: 1px solid silver;
    background-color: #eee;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.osy-addressbook  div.p1-row {
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.osy-addressbook input.osy-addressbook-checkbox
{
    visibility: hidden; position: absolute; top: 0px; left:0px
}

div.osy-addressbook .osy-addressbook-item-selected {
    border-color: black !important;
    color: black !important;
}

div.osy-addressbook div.osy-addressbook-item span.fa-check {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
}
div.osy-addressbook div.osy-addressbook-item-selected span.fa-check {
    display: block;
}