.BclContextMenu {
  position: absolute;
  display: none;
  z-index: 9999;  
  padding: 5px;
}

.BclContextMenu ul.dropdown-menu {
  display: block;
  position: absolute; /* o relative, secondo il caso */
  z-index: 10000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  list-style: none;
    transform: scale(1) !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

